@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    /* background-color: black; */
    color: white;
}
.home{
    width: auto;
    height: 123px;
    /* padding: 20px; */
}
.left{
    width: 25vw;
    padding: 6px;
}
.right{
    width: 75vw;
}
.home ul li{
    position: relative;
    bottom: 133px;
    left: 23px;
    width: 24px;
    list-style: none;
    display: flex;
    gap: 14px;
    padding-top: 30px;
    font-weight: bold;
}
.library{
    position: relative;
    margin: 26px;
    min-height: 80vh;
}
.h-3{
    position: relative;
    bottom: 155px;
    left: 43px;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    gap: 12px;

}
.footer a{
    color: grey;
    padding: 15px;
    }
    .header{
        /* border: 2px solid grey; */
        height:  10vh;
        /* position: absolute; */
        background-color: #101010;
    }
    .header svg{
        padding: 8px;
    }
    .header button{
        position: relative;
        left: 800px;
        padding: 5px;
        margin: 22px;
        bottom: 70px;
    }
    .header button:nth-child(2){
        padding: 15px;
        border-radius: 30px;
        width: 120px;
        font-size: 20px;
    }
    .header button:nth-child(1){
        background-color: #101010;
        font-size: 20px ;
        color: grey;
        border: none;
    }
    .nav svg{
        position: relative;
        top: 20px;
        left: 20px;
        margin: 10px;
        padding: 5px;
        /* border: 1px solid black; */
        /* border-width: 5px; */
        border-radius: 60px;
        background-color: #f6f6f6;
    }
    .spotifyplaylist{
        padding: 16px;
        background-color: #1b1b1b;
    }
    .cardcontainer{
        margin: 10px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .card{
        width: 170px;
        border: 2px solid red;
        padding: 10px;
        border-radius: 5px;
        background-color: #171717;
    }
    .card > *{
        padding-top: 10px;
    }
    .card img{
        width: 100%;
        object-fit: contain;
    }
    .playbutton svg{
        width:50px;
        height: 50px;
        border-radius: 50%;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;

    }

